body {
	background-color: rgba(64, 64, 64, 0.5);
}
.nav-link{ 
	margin-right: 1.2rem !important;
}
.nav-item {
	padding-right: 30px;
}
.navbar-toggler {
	background: blue;
}

.description{
 position: absolute;
 top: 30%;
 right: 22%;
 margin: auto;
 padding: 2em;
}
.description h1{
 color: blue ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid black;
 background: blue;
 color:#fff;
}
